body > header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

body > header form{
    grid-column: 2;
}

body > header input[type=text]{
    float: left;
    width: 60%;
}

body > header button{
    width: 20%;
}

body > header nav{
    grid-column: 4;
    margin: auto 0em;
}

body > header nav div#mininav{
    display: inline-block;
}
body > header nav div#mininav figcaption{
    text-align: center;
}