body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */
body > header{
    padding: 0em 1em;
    border-bottom: grey;
    border-bottom-style: solid;
}

body > header a{
    text-decoration: none;
    color: black;
}

body > header h2 input[type=text]{
    padding: 10px;
    border: 1px solid grey;
    background: white;
}

body > header h2 input[type=text]::placeholder{
    color: black;
}
body > header h2 input:focus::-webkit-input-placeholder{
    color: grey;
}
body > header h2 button{
  padding: 10px;
  background: white;
  color: #2196F3;
  border: 1px solid grey;
  border-left: none;
}

body >header nav a{
    padding: 1em 3em;
}

/* USER */
body #sideInfo{
    padding: 1em 1.5em;
}
body #sideInfo article {
    border: 2px solid grey;
    text-indent: 1em;
    word-wrap: break-word;
}


/* Tourist Info*/
body #touristInfo{
    padding: 2em 2em;
    border: 2px solid grey;
}
body #touristInfo >header> h3{
    padding-top: 0;
    
    font-size: 2em;
}
body #touristInfo>p{
    text-indent: 1em;
}

/* Host Link*/
body #hostlink {
    padding: 2em 1.5em;
}
body #hostlink a{
    padding: 2em 1.5em;
    border: 2px solid grey;
    align-content: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/* Reviews*/
body #reviews{
    padding: 2em 2em;
    border: 2px solid grey;
}
body #reviews > header > h3{
    font-size: 2em;
}

body section#reviews article header span{
    display: block;
}
body section#reviews .author{
    margin-top: 3em;
    font-weight: bold;
    font-size: 1.3em ;
}
body section#reviews .date{
    font-size: 0.9em ;
}
body section#reviews article p{
    text-align: left;
}
body section#reviews article p:last-child{
    border-bottom: 2px solid grey;
    
}

/* FOOTER*/
body>footer {
    text-align: center;
}
body>footer #nextComments li a{
    color: #008CFF;
}

body input[type=submit]{
    background-color: #008CFF;
    color: white;
}